<html>
<body>
<div class = 'content'>
<div class='titles'>
<h4> Welcome to the site <%= current_user.first_name%> </h4>
<h6>Membership : <%= $name_r %> </h6>
</div>
<p>All users list</p>


<% @user.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= c.email %></td>       
      <td><%= c.role_id %></td>

      <% @id = c.role_id %>
      <% if @id != nil %>
      <% @rolex = Role.find_by(:id => @id) %>
      <td><p>Membership : <%= @rolex.name %></p></td><br> 
      <% else %>
      <td><p>Membership: no hay</p></td><br> 
      <% end %>     

    </tr>
<% end %>




</div>
</body>

</html>