<html>
<body>


<h1> Welcome to the site <%= current_user.first_name%> </h1>

<p>Usuarios</p>


<% @user.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= c.email %></td>       
      <td><%= c.role_id %></td>

      <% @id = c.role_id %>
      <% if @id != nil %>
      <% @rolex = Role.find_by(:id => @id) %>
      <td><p>Membership : <%= @rolex.name %></p></td><br> 
      <% else %>
      <td><p>Membership: no hay</p></td><br> 
      <% end %>     

    </tr>
<% end %>

<h3>Current user Membership : <%= $name_r %> </h3>
<%= link_to("Show all projects",projects_path)%> <br>
<%= link_to("Show all providers",providers_path)%>



</body>

</html>