<h1>UPDATE A PROJECT</h1>
<%= simple_form_for @project do |f|%>
    <table summary='Project form fields'>
    <tr>
     <th>Name : </th>
     <td><%= f.input_field(:name)%></td>
    </tr>
    
    <tr>
    <th>Description : </th>
    <td><%= f.input_field(:description)%></td>
   </tr>


   <tr>
   <th>Cover Image : </th>
   <td><%= f.input_field :cover, :as => :file%></td>  
  </tr>

   <%= f.input_field(:user_id, class: 'esconder')%>

    
    </table>

   <%= f.simple_fields_for :questions do |question|%>
     <%= question.input :title%>
   <% end %>
    <div class='links'>
    <%= link_to_add_association 'Add question', f ,:questions, class: "btn btn-outline-info"%>
    </div>


 
   <div class="form-buttons">
   <%= f.submit('Update project') %>
   </div>

<% end %>